@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Benvenuti nella pagina meteo della provincia di Trento</h1>
    <button><a href="Meteo/Meteo">Lista delle città</a></button>
</div>
